In [1]:
# Import libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Load url to scrape
headers = {'User-Agent': 'Mozilla/5.0'}
url = "https://en.wikipedia.org/wiki/List_of_countries_by_renewable_electricity_production"
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

# Find tables
tables = soup.find('table', {'class': 'wikitable'})

# Find desired table and convert to dataframe
renew_df = pd.read_html(str(tables))[0]
renew_df

/var/folders/cz/85l9sn2n0hd6nxx98v8nnkt00000gp/T/ipykernel_68445/4162295209.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  renew_df = pd.read_html(str(tables))[0]

,Location,Renew.,Hydro,Wind,Solar,Bio.,Geo.,Year
0,World,8971.0,4240.0,2310.0,1644.0,689.0,88.0,2023
1,China,2894.0,1226.0,886.0,584.0,198.0,0.2,2023
2,United States,965.0,239.0,421.0,239.0,47.0,18.0,2023
3,Brazil,631.0,429.0,96.0,51.0,56.0,0.0,2023
4,Canada,421.0,364.0,39.0,8.0,10.0,0.0,2023
...,...,...,...,...,...,...,...,...
208,"Saint Helena, Ascension and Tristan da Cunha",0.0,0.0,0.0,0.0,0.0,0.0,2023
209,Saint Pierre and Miquelon,0.0,0.0,0.0,0.0,0.0,0.0,2023
210,Timor-Leste,0.0,0.0,0.0,0.0,0.0,0.0,2023
211,Turks and Caicos Islands,0.0,0.0,0.0,0.0,0.0,0.0,2023
212,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,2023

In [3]:
# Filter df for SE Asia countries
renew_df = renew_df.query("Location in ['Philippines', 'Indonesia', 'Thailand', 'Vietnam', 'Malaysia']")
renew_df

       Location  Renew.  Hydro  Wind  Solar  Bio.  Geo.  Year
14      Vietnam   119.0   81.0  11.0   26.0   0.8   0.0  2023
19    Indonesia    65.0   25.0   0.5    0.7  22.0  17.0  2023
34     Malaysia    36.0   32.0   0.0    3.0   1.0   0.0  2023
37     Thailand    30.0    7.0   4.0    5.0  14.0   0.0  2023
46  Philippines    25.0   10.0   1.0    2.0   1.0  10.0  2023

In [4]:
# Reshape df to long format
renew_df = renew_df.melt(
    id_vars=['Location', 'Year'],
    value_vars=['Hydro','Wind','Solar','Bio.','Geo.'],
    var_name='Source',
    value_name='TWh'
)
renew_df = renew_df.sort_values(['Location','Source'])
renew_df

       Location  Year Source   TWh
16    Indonesia  2023   Bio.  22.0
21    Indonesia  2023   Geo.  17.0
1     Indonesia  2023  Hydro  25.0
11    Indonesia  2023  Solar   0.7
6     Indonesia  2023   Wind   0.5
17     Malaysia  2023   Bio.   1.0
22     Malaysia  2023   Geo.   0.0
2      Malaysia  2023  Hydro  32.0
12     Malaysia  2023  Solar   3.0
7      Malaysia  2023   Wind   0.0
19  Philippines  2023   Bio.   1.0
24  Philippines  2023   Geo.  10.0
4   Philippines  2023  Hydro  10.0
14  Philippines  2023  Solar   2.0
9   Philippines  2023   Wind   1.0
18     Thailand  2023   Bio.  14.0
23     Thailand  2023   Geo.   0.0
3      Thailand  2023  Hydro   7.0
13     Thailand  2023  Solar   5.0
8      Thailand  2023   Wind   4.0
15      Vietnam  2023   Bio.   0.8
20      Vietnam  2023   Geo.   0.0
0       Vietnam  2023  Hydro  81.0
10      Vietnam  2023  Solar  26.0
5       Vietnam  2023   Wind  11.0

In [5]:
# Save df as csv
renew_df.to_csv('wk5_seasia_renew.csv', index=False)